@import "tailwindcss";

:root {
  --background: #FBF8CC;
  --foreground: #03045E;
  --dark-blue: #03045E;
  --dark-brown: #474306;
  --yellow: #F5EE84;
  --light-yellow: #FBF8CC;
  --too-light-yellow: #F7F197;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-blue: var(--dark-blue);
  --color-dark-brown: var(--dark-brown);
  --color-yellow: var(--yellow);
  --color-light-yellow: var(--light-yellow);
  --color-too-light-yellow: var(--too-light-yellow);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--light-yellow);
  color: var(--dark-blue);
  font-family: var(--font-poppins), sans-serif;
}
